################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSV-Com/AuthenticationPoC/obj/Container/AbsoluteOutputAssemblyPath.cache
/CSV-Com/AuthenticationPoC/obj/Container
/Poc css framework/test2/node_modules
/CSV-Com/.vs
/CSV-Com/.vs/
/CSV-Com/.vs/CSV-Com/DesignTimeBuild/.dtbcache.v2
.vs/
bin/
obj/
/CSV-Com/.vs/CSV-Com/v17/.suo
/CSV-Com/.vs/CSV-Com/v17/.futdcache.v2
/CSV-Com/.vs/ProjectEvaluation/csv-com.projects.v5.2
/CSV-Com/.vs/ProjectEvaluation/csv-com.metadata.v5.2
/CSV-Com/AuthenticationPoC/obj/Debug/net7.0/AuthenticationPoC.csproj.AssemblyReference.cache
