<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      lang="nl">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins" />
    <title>New Message</title>
    <style type="text/css"></style>
</head>

<body class="body" style="background-color: rgb(255, 255, 255)">
    <div style="
            text-align: center;
            background-color: white;
            border: 1px solid rgb(173, 200, 223);
            border-radius: 20px;
            width: 500px;
            height: 415px;
            margin: 0 auto;
            margin-top: -1px;
            margin-bottom: -100px;
            padding: 0;
         ">
        <img src="https://i.gyazo.com/12f0c131fbf2a9ed283c7d76f464d5cf.png"
             width="150"
             style="margin-top: 10px" />

        <h1 id="title-email"
            style="
               color: rgb(50, 50, 50);
               font-family: 'Poppins', arial;
               font-size: 30px;
               font-weight: 600;
               margin-top: 10px;
            ">
            Reset Wachtwoord
        </h1>

        <div style="
               font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
                  sans-serif;
               border-bottom: 1px solid rgb(173, 200, 223);
               color: rgba(0, 0, 0, 0.87);
               line-height: 32px;
               width: 475px;
               padding-bottom: 0px;
               margin: 0 auto;
               margin-bottom: 20px;
               text-align: center;
               word-break: break-word;
            "></div>

        <p style="
               text-align: center;
               font-family: 'Roboto', arial;
               width: 475px;
               margin: 0 auto;
            ">
            Hoi @Model.User
            <br /><br />

            We hebben een verzoek ontvangen om uw wachtwoord te resetten. Als u
            dit verzoek niet zelf heeft ingediend, kunt u deze e-mail negeren.
            Heeft u het verzoek wel gedaan, klik dan op de onderstaande knop om
            uw wachtwoord te herstellen.
        </p>

        <br />

        <a href="@Model.ResetLink"
           style="
               font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial,
                  sans-serif;
               line-height: 16px;
               color: #ffffff;
               font-weight: 400;
               text-decoration: none;
               font-size: 14px;
               display: inline-block;
               padding: 10px 24px;
               background-color: rgb(142, 189, 231);
               border-radius: 5px;
               min-width: 90px;
            "
           target="_blank"
           data-saferedirecturl="">
            Reset
        </a>

        <!-- <p
           style="
              text-align: center;
              font-family: 'Roboto', arial;
              color: rgb(219, 231, 255);
           "
        >
           <a
              style="text-decoration: none; color: rgb(219, 231, 255)"
              href="mailto:ontwikkelaar@clientkompas.nl"
              >ontwikkelaar@clientkompas.nl</a
           >
           <br /><span style="color: rgb(219, 231, 255)">+31 06-123456789</span
           >.
        </p> -->
    </div>
</body>
</html>
