@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="bg-gradient-to-l hover:bg-gradient-to-r">
    <p class="text-red-600">The quick brown fox...</p>

    <div class="bg-clip-border p-6 bg-violet-600 border-4 border-violet-300 border-dashed"></div>
</div>
