@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "work-sans";
    src: url("../../assets/fonts/work-sans-v19-latin-regular.woff2");
}


@layer components {
   
    .passwordfield{
       font-family: work-sans;
        @apply 
            text-gray-900
            w-4/5 
            h-12 
            bg-mainLightGray 
            border-2 
            border-subGray2 
            placeholder-subGray2 
            focus:border-mainBlue 
            focus:ring-1 
            ring-mainBlue 
            outline-none 
            text-sm 
            rounded-lg 
            block w-full 
            p-2.5 
            font-normal;
    }
    
    .visibilitybtn{
        @apply 
        w-[30px] 
        h-[30px]
        flex
        self-center
        ml-[-40px]
        items-center
        justify-center;
    }
}