@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

@layer components {
    .profile-picture-box {
        @apply 
        bg-mainGray 
        flex 
        justify-center 
        content-center 
        flex-wrap 
        aspect-square 
        w-32 
        md:w-96 
        rounded-xl 
        md:rounded-3xl 
        mx-auto;
    }

    .profile-picture-box img {
        @apply 
        rounded-3xl;
    }
    
    .profile-picture-buttons{
        @apply 
        flex 
        justify-between 
        mx-4 
        md:py-4;
    }
}