@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

@layer components {
.request-reset-password-page{
        .loading-spinner{
            @apply
            fixed
            flex
            inset-0
            bg-gray-800
            bg-opacity-50
            items-center
            justify-center
            h-screen
            w-full
            z-50;
        }

        .sidebar{
            @apply            
            h-56
            lg:h-full
            lg:absolute;

            .navBtnsContainer{
                @apply
                !my-4
                !block;
            }

            .logo-dark{
                @apply           
                w-48
                h-48            
                mx-auto
                block
                lg:hidden;
            }
        }

        .request-reset-password-container{
            @apply
            w-full;

            .request-reset-password-logo-container{
                @apply
                w-full;

                .logo-light{
                    @apply           
                    w-72
                    h-72            
                    mx-auto
                    mt-10
                    hidden
                    lg:block;
                }        
            }

            .request-reset-password-fields-container{
                @apply
                flex
                flex-col
                mx-20
                my-8
                gap-y-2
                items-center;

                .request-reset-password-label{
                    @apply
                    my-2
                    font-primary;
                }

                .request-reset-password-emailaddress{
                    @apply
                    w-72;
                }

                .request-reset-password-button{
                    @apply
                    w-40
                    h-14;
                }
            }
        }
    }
}